body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#header {
	color: white;
	height: 50px;
}

#header .md-icon-button {
	font-size: 24px;
}


.library-item {
	border: solid 1px rgba(0,0,0,0.18);
}

.library-item img {
	max-width: 100%;
	max-height: 100%;
}

.library-item .overlay {
	display: none;
	background-color: #008888;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	color: white;
	font-size: small;
	padding: 5px;
	cursor: pointer;
}

.library-item:hover .overlay {
	display: flex;
}

.library-item .overlay .actions {
	background-color: white;
	border: solid 1px #dedede;
	border-radius: 24px;
}

.library-item.library-item-add {
	border-style: dashed;
	cursor: pointer;
}

.library-item.library-item-add:hover {
	background-color: #008888;
	color: white;
}

.library-item.library-item-add:hover .fa {
	color: white;
}

.library-detail-tile {
	border: solid 1px rgba(0,0,0,0.18);
}

.login-pane {
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
}

.bb-list md-input-container {
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bb-list .bb-list-item {
    background-color: white;
}

.bb-list .bb-list-item .bb-list-item-header-content:focus {
    outline: none;
}

.bb-menu {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.bb-menu h2 {
	font-weight: 100;
	font-size: medium;
	color: #515151;
	text-align: right;
}

.bb-bg-primary {
    background-color: rgb(96, 125, 139);
    color: white;
}

.bb-bg-primary md-input-container label, .bb-bg-primary md-input-container input {
    color: rgba(255,255,255,0.80);
}

.bb-background {
    background-image: url('/content/images/hex-bg-alt.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.bb-menu-item {
    color: rgba(0,0,0,0.54);
    cursor: pointer;
}

.bb-menu-item svg path {
  fill: rgba(0, 0, 0 ,0.54);
}

.lnr svg path {
    fill: rgba(0, 0, 0 ,0.54);
}

.bb-profile {
    height: 150px;
    width: 100%;
    background-image: url('/content/images/hexes-alt.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(96,125,139);
}

.bb-bg-hexes {
    background-image: url('/content/images/hexes-alt.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(96,125,139);
    color: white;
}

.bb-bg-white {
    background-color: white;
}

.bb-profile .selector {
    color: white;
    font-size: large;
    background-color: rgba(0, 0, 0, .3);
}

.bb-profile .selector a {
    color: white;
    font-size: large;
    text-decoration: dashed;
}