<md-content>
    <h3 class="md-display-1">Link a hex to your profile.</h3>
    <p>You can link a hex to your profile using the token below. Paste the token in the settings screen of the hex.</p>

    <md-input-container flex>
        <label>Link Token</label>
        <textarea ng-model="linkToken" columns="1" disabled></textarea>
    </md-input-container>

    <h3>The following hexes are already linked:</h3>
    <ul>
        <li ng-repeat="(key,value) in hexes">
            {{value.name}}
        </li>
    </ul>
</md-content>
