<bb-list class="m-15 md-whiteframe-z1" items="items">
    <bb-list-header on-add="addItem()">
        <h2>My Item List</h2>
    </bb-list-header>
    <bb-list-item item="item" ng-repeat="item in items" on-update="updateItem(item)" on-remove="removeItem(item)">
        <bb-item-renderer>
            <md-input-container flex="33">
                <label>Title</label>
                <input ng-model="item.name" disabled>
            </md-input-container>
            <md-input-container>
                <label>Quantity</label>
                <input ng-model="item.qty" disabled>
            </md-input-container>
            <md-input-container flex>
                <label>Email</label>
                <input ng-model="item.email" type="email" disabled>
            </md-input-container>
        </bb-item-renderer>
        <bb-item-editor>
            <md-input-container flex="33">
                <label>Title</label>
                <input ng-model="item.name">
            </md-input-container>
            <md-input-container>
                <label>Quantity</label>
                <input ng-model="item.qty">
            </md-input-container>
            <md-input-container flex>
                <label>Email</label>
                <input ng-model="item.email" type="email">
            </md-input-container>
        </bb-item-editor>
    </bb-list-item>
</bb-list>

<bb-menu>
    <bb-menu-item label="Container" icon="fa-cube"></bb-menu-item>
</bb-menu>