<md-dialog aria-label="">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{action}} a Collaborator</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-icon="lnr-cross" class="lnr icon" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div layout="row" layout-sm="column">
                <md-autocomplete
                        md-no-cache="true"
                        md-selected-item="model.collaborator"
                        md-search-text="data.searchText"
                        md-items="item in queryCollaborators(data.searchText)"
                        md-item-text="item.data.name"
                        md-min-length="0"
                        placeholder="Collaborator Name">
                    <md-item-template>
                        <span md-highlight-text="data.searchText" md-highlight-flags="^i">{{item.data.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No Users matching "{{data.searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>

                <!--<md-input-container class="m-r-15" flex>-->
                    <!--<label>Collaborator</label>-->
                    <!--<input ng-model="model.collaborator" required>-->
                <!--</md-input-container>-->
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="save()" > {{action}} </md-button>
            <md-button ng-click="cancel()" style="margin-right:20px;" > Cancel </md-button>
        </div>
    </form>
</md-dialog>