<md-dialog aria-label="">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Link a cluster</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-icon="lnr-cross" class="lnr icon" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div layout="column" layout-sm="column" layout-padding>
                <p>You can link a hex to your profile using the token below. Paste the token in the settings screen of the hex.</p>

                <div layout="row" class="m-30">
                    <pre style="width: 90%; word-wrap: break-word;">{{linkToken}}</pre>
                    <md-button class="md-icon-button" auto-hide-on-no-flash="true" clip-copy="linkToken" aria-label="Copy the token to the clipboard">
                        <md-icon md-svg-icon="/content/icons/linear/0202-clipboard-empty.svg" class="lnr" style="font-size: 24px;"></md-icon>
                    </md-button>
                </div>

            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="ok()" > OK </md-button>
        </div>
    </form>
</md-dialog>