<div layout="column" layout-align="center center" ng-if="vm.loading" flex>
    <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="200"></md-progress-circular>
</div>

<div layout="column" style="width: 1200px; margin-left: auto; margin-right: auto; margin-top: 16px" ng-if="!vm.loading">
    <md-content class="md-whiteframe-z1 p-24" layout="row">
        <div layout="column" layout-align="center center" style="border: solid 1px #dedede; background-color: #efefef; border-radius: 4px; width: 150px; height: 150px;">
            <md-icon md-font-icon="lnr-layers" class="lnr lnr-32"></md-icon>
        </div>
        <div layout="column" class="m-l-24" flex>
            <span class="md-display-1">{{ vm.stack.data.name }}</span>
            <p class="md-caption">{{ vm.stack.data.description }}</p>
        </div>
        <div layout="column" layout-align="start center">
            <md-button ng-if="vm.can.edit" class="md-icon-button" ng-click="vm.dialog.stack($event)">
                <md-icon md-font-icon="lnr-pencil2" class="lnr" style="font-size: 24px"></md-icon>
            </md-button>
        </div>
    </md-content>
    <md-content class="md-whiteframe-z1 p-24" layout="column">
        <div layout="row">
            <h1 class="bb-caption" flex>COLLABORATORS</h1>
            <md-button ng-if="vm.can.edit" class="md-icon-button" ng-click="vm.dialog.collaborator($event)">
                <md-icon md-font-icon="lnr-plus" class="lnr" style="font-size: 24px"></md-icon>
            </md-button>
        </div>
        <bb-list-card ng-repeat="item in vm.stack.data.collaborators"
                      bb-title="item.profile.name"
                      bb-sub-title="'Collaborator'"
                      bb-image="'content/images/list-card-daemon.svg'"
                      bb-removable="vm.can.edit"
                      bb-on-remove="vm.removeCollaborator(item)"
        ></bb-list-card>
    </md-content>
    <md-content class="md-whiteframe-z1 p-24" layout="row">
        <h1 class="bb-caption">VERSIONS</h1>
        <bb-list-card ng-repeat="item in vm.versions"
                      bb-title="item.name"
                      bb-sub-title="'stack version'"
                      bb-image="'content/images/list-card-daemon.svg'"
                      bb-removable="vm.can.edit"
                      bb-on-click="vm.selectVersion(item)"
                      bb-on-remove="vm.removeVersion(item)"
        ></bb-list-card>
    </md-content>
</div>

<md-button class="md-fab md-fab-bottom-right" ng-if="!vm.loading" style="position: fixed;" ng-click="vm.add($event)">
    <md-icon md-font-icon="lnr-plus" class="lnr" style="font-size: 24px"></md-icon>
</md-button>


<!--<div layout-padding layout="column" layout-align="start center" flex>-->
    <!--<div layout="column" flex style="width: 80%;">-->
        <!--<md-toolbar>-->
            <!--<div class="md-toolbar-tools">-->
                <!--<md-icon md-font-icon="lnr-server" class="lnr icon" style="font-size: 24px; line-height: 1.2; margin-right: 10px;"></md-icon>-->
                <!--<span class="md-headline" flex>{{ vm.cluster.data.name }}</span>-->
                <!--<div layout="row" class="m-l-16">-->
                    <!--<div layout="row" class="m-l-16">-->
                        <!--<md-icon md-font-icon="lnr-hdd" class="lnr icon m-r-8"></md-icon>-->
                        <!--<span class="md-caption">{{ vm.totals.storage | bytes }}</span>-->
                        <!--<md-tooltip>Amount of Data Storage</md-tooltip>-->
                    <!--</div>-->
                    <!--<div layout="row" class="m-l-16">-->
                        <!--<md-icon md-font-icon="lnr-flash-memory" class="lnr icon m-r-8"></md-icon>-->
                        <!--<span class="md-caption">{{ vm.totals.memory | bytes }}</span>-->
                        <!--<md-tooltip>Amount of Memory</md-tooltip>-->
                    <!--</div>-->
                    <!--<div layout="row" class="m-l-16">-->
                        <!--<md-icon md-font-icon="lnr-chip" class="lnr icon m-r-8"></md-icon>-->
                        <!--<span class="md-caption">{{ vm.totals.cores }}</span>-->
                        <!--<md-tooltip>Number of CPU cores</md-tooltip>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<md-menu class="md-secondary">-->
                    <!--<md-button aria-label="Open interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">-->
                        <!--<md-icon md-menu-origin md-font-icon="lnr-menu" class="lnr icon"></md-icon>-->
                    <!--</md-button>-->
                    <!--<md-menu-content width="4">-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-href="http://{{ vm.cluster.data.name }}.hex.bigboards.io:7000" target="_blank">-->
                                <!--<md-icon md-font-icon="lnr-paper-plane" class="lnr icon"></md-icon>-->
                                <!--Console-->
                            <!--</md-button>-->
                        <!--</md-menu-item>-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-click="vm.dialog.link($event)">-->
                                <!--<md-icon md-font-icon="lnr-link" class="lnr icon"></md-icon>-->
                                <!--Link-->
                            <!--</md-button>-->
                        <!--</md-menu-item>-->
                        <!--<md-menu-item>-->
                            <!--<md-button ng-click="vm.dialog.user($event)">-->
                                <!--<md-icon md-font-icon="lnr-link" class="lnr icon"></md-icon>-->
                                <!--Users-->
                            <!--</md-button>-->
                        <!--</md-menu-item>-->
                        <!--<md-menu-item>-->
                            <!--<md-button class="md-warn" ng-click="vm.remove.cluster($event)">-->
                                <!--<md-icon md-font-icon="lnr-trash" class="lnr icon"></md-icon>-->
                                <!--Remove-->
                            <!--</md-button>-->
                        <!--</md-menu-item>-->
                    <!--</md-menu-content>-->
                <!--</md-menu>-->
            <!--</div>-->
        <!--</md-toolbar>-->

        <!--<md-content class="md-whiteframe-z1 m-t-16" flex>-->
            <!--<md-list>-->
                <!--<md-list-item ng-if="vm.tints == null || vm.tints.data.length == 0"  layout="row" layout-align="start center">-->
                    <!--<p class="md-body-2">No tints have been installed</p>-->
                <!--</md-list-item>-->
                <!--<md-list-item ng-repeat="tint in vm.tints.data" layout="row" layout-align="start center">-->
                    <!--<bb-cluster-tint bb-tint="tint" bb-on-remove="vm.remove.tint(tint)"></bb-cluster-tint>-->
                <!--</md-list-item>-->
            <!--</md-list>-->
        <!--</md-content>-->

        <!--<md-content class="md-whiteframe-z1 m-t-16" flex>-->
            <!--<md-list>-->
                <!--<md-list-item ng-if="vm.devices == null || vm.devices.length == 0"  layout="row" layout-align="start center">-->
                    <!--<p class="md-body-2">No nodes have been added yet</p>-->
                <!--</md-list-item>-->
                <!--<md-list-item ng-repeat="node in vm.devices | orderBy:'+data.name'" layout="row" layout-align="start center">-->
                    <!--<bb-cluster-device bb-device="node" bb-on-remove="vm.remove.device(node)"></bb-cluster-device>-->
                <!--</md-list-item>-->
            <!--</md-list>-->
        <!--</md-content>-->
    <!--</div>-->
<!--</div>-->

<!--<md-fab-speed-dial md-open="false" md-direction="up" class="md-scale md-fab-bottom-right" style="position: fixed;">-->
    <!--<md-fab-trigger>-->
        <!--<md-button aria-label="menu" class="md-fab" style="background-color: #008888">-->
            <!--<md-icon md-font-icon="lnr-plus" class="lnr" style="font-size: 24px"></md-icon>-->
        <!--</md-button>-->
    <!--</md-fab-trigger>-->
    <!--<md-fab-actions>-->
        <!--<md-button aria-label="Stack" class="md-fab md-raised md-mini"  ng-click="vm.dialog.device($event)">-->
            <!--<md-tooltip md-direction="left">Add Device</md-tooltip>-->
            <!--<md-icon md-font-icon="lnr-chip" class="lnr" style="font-size: 24px; color: #008888"></md-icon>-->
        <!--</md-button>-->
    <!--</md-fab-actions>-->
<!--</md-fab-speed-dial>-->