<div layout="column" layout-align="center center" ng-if="vm.loading" flex>
    <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="200"></md-progress-circular>
</div>

<div layout="column" style="width: 1200px; margin-left: auto; margin-right: auto; margin-top: 16px" ng-if="!vm.loading">
    <md-content class="md-whiteframe-z1 p-24" layout="row">
        <div layout="column" layout-align="center center" style="border: solid 1px #dedede; background-color: #efefef; border-radius: 4px; width: 150px; height: 150px;">
            <md-icon md-font-icon="lnr-layers" class="lnr lnr-32"></md-icon>
        </div>
        <div layout="column" class="m-l-24" flex>
            <span class="md-display-1">{{ vm.stack.data.name }}</span>
            <p class="md-caption">{{ vm.stack.data.description }}</p>
        </div>
        <div layout="column" layout-align="start center">
            <md-button ng-if="vm.can.edit" class="md-icon-button" ng-click="vm.dialog.stack($event)">
                <md-icon md-font-icon="lnr-pencil2" class="lnr" style="font-size: 24px"></md-icon>
            </md-button>
        </div>
    </md-content>
    <md-content class="md-whiteframe-z1 p-24" layout="column">
        <div layout="row">
            <h1 class="bb-caption" flex>COLLABORATORS</h1>
        </div>
        <div layout="column">
            <div class="bb-line" ng-repeat="collaborator in vm.stack.data.collaborators" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="lnr-user" class="lnr lnr-24 m-r-16"></md-icon>
                <span flex="25">{{ collaborator.profile.name }}</span>
                <span flex>{{ collaborator.permissions.join(', ') }}</span>
                <div class="bb-line-actions">
                    <md-button ng-click="vm.remove.collaborator($event, collaborator)" class="md-warn md-icon-button">
                        <md-icon md-font-icon="lnr-trash" class="lnr lnr-24"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </md-content>
    <md-content class="md-whiteframe-z1 p-24" layout="column">
        <div layout="row">
            <h1 class="bb-caption">VERSIONS</h1>
        </div>
        <div layout="column">
            <div class="bb-line" ng-repeat="version in vm.versions" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="lnr-tag" class="lnr lnr-24 m-r-16"></md-icon>
                <span flex>{{ version.data.name }}</span>
                <span flex="25">{{ version.data.architecture }}</span>
                <div class="bb-line-actions">
                    <md-button ng-click="vm.remove.version($event, version)" class="md-warn md-icon-button">
                        <md-icon md-font-icon="lnr-trash" class="lnr lnr-24"></md-icon>
                    </md-button>

                    <md-button ng-click="vm.select(version)" class="md-icon-button">
                        <md-icon md-font-icon="lnr-chevron-right-circle" class="lnr lnr-24"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </md-content>
</div>

<md-fab-speed-dial md-open="false" md-direction="up" class="md-scale md-fab-bottom-right" style="position: fixed;" ng-if="!vm.loading">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab">
            <md-icon md-font-icon="lnr-plus" class="lnr" style="font-size: 24px"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="Add Collaborator" class="md-fab md-raised md-mini"  ng-click="vm.dialog.collaborator($event)">
            <md-tooltip md-direction="left">Add Collaborator</md-tooltip>
            <md-icon md-font-icon="lnr-user" class="lnr lnr-24"></md-icon>
        </md-button>
        <md-button aria-label="Add Version" class="md-fab md-raised md-mini"  ng-click="vm.dialog.version($event)">
            <md-tooltip md-direction="left">Add Version</md-tooltip>
            <md-icon md-font-icon="lnr-tag" class="lnr lnr-24"></md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>