<div layout="row">
    <div layout="column" flex>
        <md-content class="md-whiteframe-z1 p-15 m-15">
            <div layout="column">
                <md-input-container flex>
                    <label>name</label>
                    <input type="text" ng-model="tint.data.name" ng-model-options="{ debounce: 1000 }">
                </md-input-container>
                <md-input-container flex>
                    <label>description</label>
                    <textarea ng-model="tint.data.description" ng-model-options="{ debounce: 1000 }"></textarea>
                </md-input-container>
            </div>
        </md-content>
        <md-content class="md-whiteframe-z1 p-15 m-15">
            <div layout="column">
                <md-input-container flex>
                    <label>git uri</label>
                    <input type="url" ng-model="tint.data.uri" ng-model-options="{ debounce: 1000 }">
                </md-input-container>
                <md-input-container flex>
                    <label>logo uri</label>
                    <input type="url" ng-model="tint.data.logo" ng-model-options="{ debounce: 1000 }">
                </md-input-container>
            </div>
        </md-content>
        <div layout="row">
            <md-content class="md-whiteframe-z1 p-15 m-15" flex>
                <div layout="column">
                    <md-radio-group ng-model="tint.data.architecture" ng-model-options="{ debounce: 1000 }">
                        <md-radio-button value="{{item}}" class="md-primary" ng-repeat="item in architectures">{{item}}</md-radio-button>
                    </md-radio-group>
                </div>
            </md-content>
            <md-content class="md-whiteframe-z1 p-15 m-15" flex>
                <div layout="column">
                    <div ng-repeat="item in firmwares" ng-model-options="{ debounce: 1000 }">
                        <md-checkbox ng-checked="hasFirmware(item, selected)" ng-click="toggleFirmware(item, selected)">
                            {{ item.codename }}
                        </md-checkbox>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
    <div layout="column">
        <md-content class="md-whiteframe-z1 m-15">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span>Visibility</span>
                    <span flex></span>
                </div>
            </md-toolbar>
            <div layout="column">
                <md-radio-group ng-model="tint.data.scope" ng-model-options="{ debounce: 1000 }">
                    <md-radio-button value="public" class="md-primary">Public</md-radio-button>
                    <md-radio-button value="private" class="md-primary">Private</md-radio-button>
                </md-radio-group>
            </div>
        </md-content>
        <!--
        TODO: To be enabled again once auto-complete is implemented for users
        -->
        <!--<md-content class="md-whiteframe-z1 m-15">-->
            <!--<md-toolbar>-->
                <!--<div class="md-toolbar-tools">-->
                    <!--<span>Collaborators</span>-->
                    <!--<span flex></span>-->
                    <!--<md-button ng-click="addCollaborator()" class="md-icon-button">-->
                        <!--<md-icon md-font-icon="lnr-plus" class="lnr icon icon-2x"></md-icon>-->
                    <!--</md-button>-->
                <!--</div>-->
            <!--</md-toolbar>-->
            <!--<div layout="column">-->
                <!--<md-list>-->
                    <!--<md-list-item ng-repeat="item in tint.data.collaborators">-->
                        <!--<span> {{ item.name }} </span>-->
                    <!--</md-list-item>-->
                <!--</md-list>-->
            <!--</div>-->
        <!--</md-content>-->
    </div>
</div>