<md-dialog aria-label="Add a device"  style="min-width: 40%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add a device</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon md-font-icon="lnr-times" class="lnr" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; " layout-padding>
        <div layout="row" layout-sm="column" class="p-24" layout-padding>
            <div>
                <div layout="column" layout-align="center center" style="border: solid 1px #dedede; background-color: #efefef; border-radius: 4px; width: 150px; height: 150px;">
                    <md-icon md-font-icon="lnr-device" class="lnr lnr-32"></md-icon>
                </div>
            </div>
            <div layout="column" class="m-l-24" flex>
                <md-autocomplete
                        md-no-cache="false"
                        md-selected-item="vm.model"
                        md-search-text="vm.device.searchText"
                        md-items="item in vm.device.search()"
                        md-item-text="item.data.name"
                        md-min-length="2"
                        placeholder="Device Name">
                    <md-item-template>
                        <span md-highlight-text="vm.device.searchText" md-highlight-flags="^i">{{ item.data.name }} - {{ item.data.mac }}</span>
                    </md-item-template>
                    <md-not-found>
                        No devices matching "{{ vm.device.searchText }}" were found.
                    </md-not-found>
                </md-autocomplete>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.ok()" style="margin-right:20px;" >Ok</md-button>
    </md-dialog-actions>
</md-dialog>