<md-dialog aria-label="Cluster Link">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cluster Link</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.ok()">
                <md-icon md-font-icon="lnr-cross" class="lnr icon" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
        <div layout="column" layout-sm="column" layout-padding>
            <p>You can link a hex to your profile using the token below. Paste the token in the settings screen of the hex.</p>

            <div layout="row" class="m-30">
                <pre style="width: 90%; word-wrap: break-word;">{{ vm.token }}</pre>
                <md-button class="md-icon-button" auto-hide-on-no-flash="true" clip-copy="vm.token" aria-label="Copy the token to the clipboard">
                    <md-icon md-svg-icon="/content/icons/linear/0202-clipboard-empty.svg" class="lnr" style="font-size: 24px;"></md-icon>
                </md-button>
            </div>

        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vm.ok()" > OK </md-button>
    </div>
</md-dialog>