<div layout="column" class="bb-list-item">
    <div class="bb-list-item-header" layout="row" ng-class="{'md-whiteframe-z1': editing}">
        <div class="bb-list-item-header-content p-l-15" ng-include="headerTemplate" ng-click="toggleEditing()" layout="row" flex></div>
        <div class="bb-list-item-controls">
            <md-button ng-show="allowRemove" class="md-icon-button md-warn" aria-label="Delete" ng-click="remove($event)">
                <md-icon md-svg-icon="content/icons/linear/0129-trash.svg"></md-icon>
            </md-button>
        </div>
    </div>

    <div ng-show="editing" class="bb-list-item-body" layout="column" ng-transclude flex></div>
</div>
<md-divider></md-divider>