<!--<md-toolbar>-->
    <!--<div class="md-toolbar-tools">-->
        <!--<md-button class="md-icon-button" aria-label="Go back" ng-click="$back()">-->
            <!--<md-icon md-font-icon="lnr-arrow-left" class="lnr toolbar-font-icon"></md-icon>-->
        <!--</md-button>-->
        <!--<h3>{{tint.data.name}}</h3>-->
        <!--<span flex></span>-->
        <!--<md-menu>-->
            <!--<md-button aria-label="Add a new item to the tint" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">-->
                <!--<md-icon md-font-icon="lnr-plus-circle" class="lnr toolbar-font-icon"></md-icon>-->
            <!--</md-button>-->
            <!--<md-menu-content width="4">-->
                <!--<md-menu-item>-->
                    <!--<md-button ng-click="addContainer()">-->
                        <!--<md-icon md-font-icon="lnr-poop" class="lnr" md-menu-align-target></md-icon>-->
                        <!--Add Container-->
                    <!--</md-button>-->
                <!--</md-menu-item>-->
                <!--<md-menu-item>-->
                    <!--<md-button ng-click="addGroup()">-->
                        <!--<md-icon md-font-icon="lnr-screen" class="lnr" md-menu-align-target></md-icon>-->
                        <!--Add Group-->
                    <!--</md-button>-->
                <!--</md-menu-item>-->
                <!--<md-menu-item>-->
                    <!--<md-button ng-click="addView()">-->
                        <!--<md-icon md-font-icon="lnr-screen" class="lnr" md-menu-align-target></md-icon>-->
                        <!--Add View-->
                    <!--</md-button>-->
                <!--</md-menu-item>-->
            <!--</md-menu-content>-->
        <!--</md-menu>-->
        <!--<md-button class="md-icon-button" aria-label="Remove the tint">-->
            <!--<md-icon md-font-icon="lnr-trash" class="lnr toolbar-font-icon"></md-icon>-->
        <!--</md-button>-->
    <!--</div>-->
<!--</md-toolbar>-->

<md-tabs md-dynamic-height md-border-bottom md-center-tabs="true">
    <md-tab label="General">
        <div ng-include="'/app/designer/partials/detail.part.html'">
        </div>
    </md-tab>
    <md-tab label="Containers">
        <div layout="row">
            <md-content class="md-whiteframe-z1 m-15" style="min-width: 200px;">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <span>Containers</span>
                        <span flex></span>
                        <md-button ng-click="addContainer()" class="md-icon-button">
                            <md-icon md-font-icon="lnr-plus" class="lnr icon icon-2x"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-list>
                    <md-list-item ng-repeat="item in tint.data.stack.containers" ng-click="current.container = item">
                        <span> {{ item.name }} </span>
                    </md-list-item>
                </md-list>
            </md-content>

            <div ng-if="current.container" flex ng-include="'/app/designer/partials/container.part.html'"></div>
        </div>
    </md-tab>
    <md-tab label="Groups">
        <div layout="row">
            <md-content class="md-whiteframe-z1 m-15" style="min-width: 200px;">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <span>Groups</span>
                        <span flex></span>
                        <md-button ng-click="addGroup()" class="md-icon-button">
                            <md-icon md-font-icon="lnr-plus" class="lnr icon icon-2x"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-list>
                    <md-list-item ng-repeat="item in tint.data.stack.groups" ng-click="current.group = item">
                        <span> {{ item.name }} </span>
                    </md-list-item>
                </md-list>
            </md-content>

            <div ng-if="current.group" flex ng-include="'/app/designer/partials/group.part.html'"></div>
        </div>
    </md-tab>
    <md-tab label="Views">
        <div layout="row">
            <md-content class="md-whiteframe-z1 m-15"  style="min-width: 200px;">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <span>Views</span>
                        <span flex></span>
                        <md-button ng-click="addView()" class="md-icon-button">
                            <md-icon md-font-icon="lnr-plus" class="lnr icon icon-2x"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-list>
                    <md-list-item ng-repeat="item in tint.data.stack.views" ng-click="current.view = item">
                        <span> {{ item.label }} </span>
                    </md-list-item>
                </md-list>
            </md-content>

            <div ng-if="current.view" flex ng-include="'/app/designer/partials/view.part.html'"></div>
        </div>
    </md-tab>
</md-tabs>