<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Go back" ng-click="$back()">
            <md-icon md-font-icon="lnr-arrow-left" class="lnr toolbar-font-icon"></md-icon>
        </md-button>
        <h3>{{tint.data.name}}</h3>
        <span flex></span>
        <md-menu>
            <md-button aria-label="Add a new item to the tint" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                <md-icon md-font-icon="lnr-plus-circle" class="lnr toolbar-font-icon"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="addContainer()">
                        <md-icon md-font-icon="lnr-poop" class="lnr" md-menu-align-target></md-icon>
                        Add Container
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="addGroup()">
                        <md-icon md-font-icon="lnr-screen" class="lnr" md-menu-align-target></md-icon>
                        Add Group
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="addView()">
                        <md-icon md-font-icon="lnr-screen" class="lnr" md-menu-align-target></md-icon>
                        Add View
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-button class="md-icon-button" aria-label="Remove the tint">
            <md-icon md-font-icon="lnr-trash" class="lnr toolbar-font-icon"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<div layout="row" layout-padding>
    <div flex>
        <md-subtitle>Containers</md-subtitle>
        <div class="md-whiteframe-z1 m-b-15 m-t-5" layout="column">
            <bb-list>
                <bb-list-item ng-repeat="item in tint.data.stack[0].containers" item="item" on-remove="removeContainer(ev, item)" header-template="app/designer/container.header.tmpl.html">
                    <form class="p-15 p-l-30" layout="column">
                        <div layout layout-sm="column">
                            <md-input-container class="m-r-15" flex>
                                <label>name</label>
                                <input ng-model="item.name" ng-model-options="{ debounce: 1000 }" required>
                            </md-input-container>
                            <md-input-container class="m-r-15" flex>
                                <label>image</label>
                                <input ng-model="item.image" ng-model-options="{ debounce: 1000 }" required>
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container class="m-r-15" flex>
                                <label>command</label>
                                <input ng-model="item.command" ng-model-options="{ debounce: 1000 }">
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <md-chips ng-model="item.ports" ng-model-options="{ debounce: 1000 }" flex>
                                    <input type="number" placeholder="Ports"/>
                                </md-chips>
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container class="m-r-15" flex>
                                <label>host path</label>
                                <input ng-model="item.host_path" ng-model-options="{ debounce: 1000 }">
                            </md-input-container>
                            <md-input-container class="m-r-15" flex>
                                <label>container path</label>
                                <input ng-model="item.container_path" ng-model-options="{ debounce: 1000 }">
                            </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container class="m-r-15" flex>
                                <label>pre-install script</label>
                                <input ng-model="item.pre_install" ng-model-options="{ debounce: 1000 }">
                            </md-input-container>
                            <md-input-container class="m-r-15" flex>
                                <label>post-install script</label>
                                <input ng-model="item.post_install" ng-model-options="{ debounce: 1000 }">
                            </md-input-container>
                        </div>
                    </form>
                </bb-list-item>
            </bb-list>
        </div>

        <md-subtitle>Groups</md-subtitle>
        <md-content class="md-whiteframe-z1 m-b-15 m-t-5" layout="column">
            <bb-list>
                <bb-list-item ng-repeat="item in tint.data.stack[0].groups" item="item" on-remove="removeGroup(ev, item)" header-template="app/designer/group.header.tmpl.html">
                    <form  class="p-15" layout="column">
                        <div layout layout-sm="column">
                            <md-input-container class="m-r-15" flex>
                                <label>name</label>
                                <input ng-model="item.name" ng-model-options="{ debounce: 1000 }"required>
                            </md-input-container>
                            <md-input-container class="m-r-15" flex>
                                <label>runs on</label>
                                <input ng-model="item.runs_on" ng-model-options="{ debounce: 1000 }"required>
                            </md-input-container>
                        </div>
                        <div layout="column">
                            <md-input-container flex>
                                <md-chips ng-model="item.containers" ng-model-options="{ debounce: 1000 }" md-autocomplete-snap md-require-match="true" flex required>
                                    <md-autocomplete
                                            md-selected-item="selectedContainer"
                                            md-search-text="containerSearchText"
                                            md-items="item in searchContainers(containerSearchText)"
                                            md-item-text="item"

                                            placeholder="Containers">
                                        <span md-highlight-text="containerSearchText">{{item}}</span>
                                    </md-autocomplete>
                                </md-chips>
                            </md-input-container>
                        </div>
                    </form>
                </bb-list-item>
            </bb-list>
        </md-content>

        <md-subtitle>Views</md-subtitle>
        <md-content class="md-whiteframe-z1 m-b-15 m-t-5" layout="column">
            <bb-list>
                <bb-list-item ng-repeat="item in tint.data.stack[0].views" item="item" on-remove="removeView(ev, item)" header-template="app/designer/view.header.tmpl.html">
                    <form class="p-15" layout="column">
                        <div layout layout-sm="column">
                            <md-input-container class="m-r-15" flex>
                                <label>label</label>
                                <input ng-model="item.label" ng-model-options="{ debounce: 1000 }" required>
                            </md-input-container>
                        </div>
                        <div layout="column">
                            <md-input-container flex>
                                <label>description</label>
                                <textarea ng-model="item.description" ng-model-options="{ debounce: 1000 }"></textarea>
                            </md-input-container>
                        </div>
                        <div layout="column">
                            <md-input-container class="m-r-15" flex required>
                                <label>url</label>
                                <input type="url" ng-model="item.url" ng-model-options="{ debounce: 1000 }">
                            </md-input-container>
                        </div>
                    </form>
                </bb-list-item>
            </bb-list>
        </md-content>
    </div>

    <md-content class="md-whiteframe-z1 p-15" flex="20" layout="column" layout-padding>
        <div flex>
            <form layout="column">
                <div layout="column">
                    <md-input-container flex>
                        <label>name</label>
                        <input type="text" ng-model="tint.data.name" ng-model-options="{ debounce: 1000 }"></input>
                    </md-input-container>
                    <md-input-container flex>
                        <label>logo uri</label>
                        <input type="url" ng-model="tint.data.logo" ng-model-options="{ debounce: 1000 }"></textarea>
                    </md-input-container>
                    <md-input-container flex>
                        <label>description</label>
                        <textarea ng-model="tint.data.description" ng-model-options="{ debounce: 1000 }"></textarea>
                    </md-input-container>
                </div>
                <md-subheader>Configuration</md-subheader>
                <div layout="column">
                    <md-input-container flex>
                        <label>git uri</label>
                        <input type="url" ng-model="tint.data.uri" ng-model-options="{ debounce: 1000 }"></>
                    </md-input-container>
                </div>
                <md-subheader>Architectures</md-subheader>
                <div flex>
                    <md-radio-group ng-model="tint.data.architecture" ng-model-options="{ debounce: 1000 }">
                        <md-radio-button value="{{item}}" class="md-primary" ng-repeat="item in architectures">{{item}}</md-radio-button>
                    </md-radio-group>
                </div>
                <md-subheader>Fabric Versions</md-subheader>
                <div flex>
                    <div layout="column">
                        <div ng-repeat="item in firmwares" ng-model-options="{ debounce: 1000 }">
                            <md-checkbox ng-checked="hasFirmware(item, selected)" ng-click="toggleFirmware(item, selected)">
                                {{ item.codename }}
                            </md-checkbox>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </md-content>
</div>