<div class="p-30" layout="row" flex>
    <md-content class="md-whiteframe-z1 m-r-15 p-15" ng-include="'/app/designer/steps/' + currentStep().code + '/content.html'" flex></md-content>

    <md-content class="md-whiteframe-z1 p-15" flex="20" layout="column">
        <div ng-include="'/app/designer/steps/' + currentStep().code + '/help.html'" flex></div>
        <div layout="row">
            <md-button ng-if="!hasPreviousStep()" ng-click="cancel()" aria-label="Cancel">Cancel</md-button>
            <md-button ng-if="hasPreviousStep()" ng-click="previous()" aria-label="Back">Back</md-button>
            <span flex></span>
            <md-button ng-if="hasNextStep()" ng-click="next()" aria-label="Next">Next</md-button>
            <md-button ng-if="!hasNextStep()" ng-click="finish()" class="md-primary" aria-label="Finish">Get Started!</md-button>
        </div>
    </md-content>

</div>