<md-sidenav id="sidebar-left" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true" flex>
    <div ng-if="session.isSignedIn()" layout="row" layout-align="start center" style="height: 100px;">
        <img gravatar-src="session.user.email" gravatar-size="100">
        <div class="profile-body" style="margin-left: 20px">
            <h2 style="margin: 0;">{{session.user.username}}</h2>
            <p style="font-size: small; margin: 0;">{{session.user.email}}</p>
        </div>
    </div>

    <md-divider ng-if="session.isSignedIn()" ></md-divider>

    <md-subheader class="md-primary">Profile</md-subheader>
    <div ng-if="!session.isSignedIn()" >
        <sidebar-menu-item href="#/login" caption="Sign In" icon-class="fa-lock"></sidebar-menu-item>
    </div>
    <div ng-if="session.isSignedIn()" >
        <sidebar-menu-item href="#/settings" caption="Settings" icon-class="fa-wrench"></sidebar-menu-item>
        <sidebar-menu-item href="#/person/{{session.user.username}}" caption="Public Profile" icon-class="fa-user"></sidebar-menu-item>
        <sidebar-menu-item href="#/login?bye" caption="Logout" icon-class="fa-sign-out"></sidebar-menu-item>
    </div>

    <md-subheader class="md-primary">Tints</md-subheader>
    <div ng-if="session.isSignedIn()" >
        <sidebar-menu-item href="#/library" caption="My Tints" icon-class="fa-tint"></sidebar-menu-item>
    </div>

    <sidebar-menu-item href="#/library" caption="All tints" icon-class="fa-tint"></sidebar-menu-item>
</md-sidenav>