<md-dialog aria-label="">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{action}} an environment variable</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="content/icons/linear/0811-cross.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div layout="row" layout-sm="column">
                <md-input-container class="m-r-15" flex>
                    <label>Key</label>
                    <input ng-model="variable.key" required>
                </md-input-container>
                <md-input-container class="m-r-15" flex>
                    <label>Value</label>
                    <input ng-model="variable.value" required>
                </md-input-container>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="save()" > {{action}} </md-button>
            <md-button ng-click="cancel()" style="margin-right:20px;" > Cancel </md-button>
        </div>
    </form>
</md-dialog>