<md-progress-linear ng-if="vm.loading" md-mode="indeterminate"></md-progress-linear>

<div layout="row" layout-sm="column" layout-align="start start" layout-wrap class="m-16" flex ng-if="!vm.loading">
    <bb-cluster bb-model="item" bb-on-click="vm.showDetail(item)" ng-repeat="item in vm.items"></bb-cluster>
</div>

<md-button class="md-fab md-fab-bottom-right" aria-label="Pair a cluster" ng-click="vm.showCreateClusterDialog(event)"  style="background-color: #008888; position: fixed; color: white;">
    <md-tooltip md-direction="left">Pair Cluster</md-tooltip>
    <md-icon md-font-icon="lnr-link" class="lnr" style="font-size: 24px; color: white"></md-icon>
</md-button>