<md-dialog aria-label="Create a cluster">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Create a new cluster</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon md-font-icon="lnr-times" class="lnr" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; " layout-padding>
        <h1 class="md-display-1">Give your cluster a name</h1>
        <p class="md-body-1">
            The process of creating a new cluster starts with choosing a name. The name is merely an easy way to tell clusters apart, but beware that it <strong>cannot be changed later on</strong>.
            Once a name is given, it's very hard to change it. So choose wisely, young grasshopper.
        </p>

        <div layout="row">
            <md-input-container class="m-r-15" flex>
                <label>Cluster Name</label>
                <input ng-model="vm.model.name" aria-label="Cluster Name" required>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()" >Cancel</md-button>
        <md-button ng-click="vm.save()" style="margin-right:20px;" >Create</md-button>
    </md-dialog-actions>
</md-dialog>