<div layout-padding layout="column" layout-align="start center" flex>
    <div layout="column" flex style="width: 80%;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon md-font-icon="lnr-server" class="lnr icon" style="font-size: 24px; line-height: 1.2; margin-right: 10px;"></md-icon>
                <span class="md-headline" flex>{{ vm.cluster.data.name }}</span>
                <md-menu class="md-secondary">
                    <md-button aria-label="Open interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin md-font-icon="lnr-menu" class="lnr icon"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-href="http://{{ vm.cluster.data.name }}.hex.bigboards.io:7000" target="_blank">
                                <md-icon md-font-icon="lnr-paper-plane" class="lnr icon"></md-icon>
                                Console
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.dialog.user($event)">
                                <md-icon md-font-icon="lnr-user" class="lnr icon"></md-icon>
                                Users
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-warn" ng-click="vm.remove.cluster($event)">
                                <md-icon md-font-icon="lnr-trash" class="lnr icon"></md-icon>
                                Remove
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

        <md-content class="md-whiteframe-z1 m-t-16" ng-if="!vm.cluster.data.notified" layout="row" layout-padding layout-align="start center">
            <div>
                <md-icon md-font-icon="lnr-warning" class="lnr" style="font-size: 24px;"></md-icon>
            </div>
            <div flex>
                <p>The hardware device has not been notified that the pairing was a success.</p>
            </div>
            <div layout="column" layout-align="end center">
                <md-button class="md-primary" ng-click="vm.notify()">Notify Device</md-button>
            </div>
        </md-content>

        <md-content class="md-whiteframe-z1 m-t-16" flex>
            <md-list>
                <md-list-item ng-if="vm.devices == null || vm.devices.length == 0"  layout="row" layout-align="start center">
                    <p class="md-body-2">No nodes have been added yet</p>
                </md-list-item>
                <md-list-item ng-repeat="node in vm.devices | orderBy:'+data.name'" layout="row" layout-align="start center">
                    <bb-cluster-device bb-device="node" bb-on-remove="vm.remove.device(node)"></bb-cluster-device>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>