<md-dialog aria-label="Create a cluster">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add a cluster</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon md-font-icon="lnr-times" class="lnr" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; " layout-padding ng-include="vm.stage">
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()" >Cancel</md-button>
    </md-dialog-actions>
</md-dialog>