<h3>The more technical tint information</h3>

<form name="userForm" ng-controller="TechnicalStepController">
    <div layout="row">
        <div flex>
            <span>Which hardware architecture are you going to support?</span>
            <md-radio-group ng-model="tint.architecture">
                <md-radio-button value="{{item}}" class="md-primary" ng-repeat="item in architectures">{{item}}</md-radio-button>
            </md-radio-group>
        </div>
        <div flex>
            <span>Which fabric versions are you going to support?</span>
            <div layout="column">
                <div ng-repeat="item in firmwares">
                    <md-checkbox ng-checked="hasFirmware(item, selected)" ng-click="toggleFirmware(item, selected)">
                        {{ item }}
                    </md-checkbox>
                </div>
            </div>
        </div>
    </div>
</form>