<div class="device-card md-whiteframe-z1" layout="row" layout-align="center center" ng-click="click();">
    <div class="device-card-gutter" layout="column" layout-align="center center">
        <md-icon md-font-icon="lnr-chip" class="lnr icon icon-3x"></md-icon>
        <h3 class="md-title m-b-16 m-t-16" style="text-align: center" flex>{{vm.node.data.name}}</h3>
        <span ng-if="vm.node.data.cluster" class="md-caption">clustered</span>
    </div>
    <div class="device-card-content" layout="column" layout-align="center start" style="width: 100%;" flex>
        <div>
            <span class="m-l-16 md-caption">{{vm.node.data.mac}}</span>
        </div>
        <div>
            <span class="m-l-16 md-caption">{{vm.totalCores}} {{vm.node.data.arch}} cores</span>
        </div>
        <div>
            <span class="m-l-16 md-caption">{{vm.totalMemory | bytes}} ram</span>
        </div>
        <div>
            <span class="m-l-16 md-caption">{{vm.totalStorage | bytes}} storage</span>
        </div>
    </div>
</div>