.library_item {

}

.column {
    max-width: 440px;
    width: 440px;
}

.bb-avatar {
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
}

/*.library_item > img {*/
    /*max-width: 80px;*/
    /*max-height: 80px;*/
    /*border-radius: 50px;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
/*}*/

/*.library_item h3 {*/
    /*margin: 0;*/
/*}*/

/*.library_item p {*/
    /*margin: 0;*/
/*}*/