<div ng-controller="NewStackController as ctrl">
<div layout="column" class="p-15">
    <md-content class="md-whiteframe-z1" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button">
                    <md-icon md-font-icon="fa fa-cube" style="font-size: 24px;"></md-icon>
                </md-button>
                <h2>
                    <span>Containers</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Add" ng-click="ctrl.addingContainer = true">
                    <md-icon md-font-icon="fa fa-plus" style="font-size: 24px;"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div layout="row">
            <div flex="30">
                <md-list-item class="md-2-line" ng-repeat="container in ctrl.containers">
                    <span class="fa fa-cube"></span>
                    <div class="md-list-item-text">
                        <h3> {{ container.name }} </h3>
                        <p> {{ container.image }} </p>
                    </div>
                </md-list-item>
            </div>
            <div flex>
                <form name="userForm" ng-if="ctrl.addingContainer">
                    <div layout layout-sm="column">
                        <md-input-container class="m-r-15">
                            <label>Name</label>
                            <input ng-model="container.name" required>
                        </md-input-container>
                    </div>
                    <div layout>
                        <md-input-container class="m-r-15">
                            <label>Image</label>
                            <input ng-model="container.image" required>
                        </md-input-container>
                        <md-input-container class="m-r-15" flex>
                            <label>Command</label>
                            <input ng-model="container.command" required>
                        </md-input-container>
                    </div>
                    <div layout>
                        <md-chips ng-model="container.ports" placeholder="Add Ports" secondary-placeholder="+ Port" flex  required></md-chips>
                    </div>
                    <div layout>
                        <md-input-container class="m-r-15" flex>
                            <label>Host Path</label>
                            <input ng-model="container.config.host_path" required>
                        </md-input-container>
                        <md-input-container class="m-r-15" flex>
                            <label>Maps To</label>
                        </md-input-container>
                        <md-input-container class="m-r-15" flex>
                            <label>Container Path</label>
                            <input ng-model="container.config.container_path" required>
                        </md-input-container>
                    </div>
                </form>
            </div>
        </div>
    </md-content>
</div>
<div layout="column" class="p-15">
    <md-content class="md-whiteframe-z1" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-font-icon="fa fa-cube" style="font-size: 24px;"></md-icon>
                </md-button>
                <h2>
                    <span>Groups</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="More" ng-click="ctrl.addingGroup = true">
                    <md-icon md-font-icon="fa fa-plus" style="font-size: 24px;"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div layout="row">
            <div flex="30">
                <md-list-item class="md-2-line" ng-repeat="group in ctrl.groups">
                    <span class="fa fa-cube"></span>
                    <div class="md-list-item-text">
                        <h3> {{ group.name }} </h3>
                        <p> {{ group.runs_on }} </p>
                    </div>
                </md-list-item>
            </div>
            <div flex>
                <form name="userForm" ng-if="ctrl.addingGroup">
                    <div layout layout-sm="column">
                        <md-input-container class="m-r-15">
                            <label>Name</label>
                            <input ng-model="group.name" required>
                        </md-input-container>
                        <md-input-container class="m-r-15">
                            <label>Runs On</label>
                            <input ng-model="group.runs_on" required>
                        </md-input-container>
                    </div>
                    <div layout>
                        <md-chips ng-model="group.containers" placeholder="+ Container" secondary-placeholder="+ Container" flex  required></md-chips>
                    </div>
                </form>
            </div>
        </div>
    </md-content>
</div>

<div layout="column" class="p-15">
    <md-content class="md-whiteframe-z1" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-font-icon="fa fa-cube" style="font-size: 24px;"></md-icon>
                </md-button>
                <h2>
                    <span>Views</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="More" ng-click="ctrl.addingView = true">
                    <md-icon md-font-icon="fa fa-plus" style="font-size: 24px;"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div layout="row">
            <div flex ng-repeat="view in ctrl.views">

            </div>
            <div flex>
                <form name="userForm" ng-if="ctrl.addingView">
                    <div layout layout-sm="column">
                        <md-input-container class="m-r-15">
                            <label>Label</label>
                            <input ng-model="view.label" required>
                        </md-input-container>
                        <md-input-container class="m-r-15" flex>
                            <label>Url</label>
                            <input ng-model="view.url" required>
                        </md-input-container>
                    </div>
                    <div layout>
                        <md-input-container flex>
                            <label>Description</label>
                            <textarea ng-model="view.description"></textarea>
                        </md-input-container>
                    </div>
                </form>
            </div>
        </div>
    </md-content>
</div>
</div>

<!--"id": "[stack]bigboards$bb-stack-spark",-->
<!--"views": [-->
<!--{-->
<!--"label": "WebUI",-->
<!--"url": "http://{{ nodes[hex.name + '-n1'].ip }}:8080/",-->
<!--"description": "The Spark Web UI"-->
<!--}-->
<!--],-->
<!--"containers": [-->
<!--{-->
<!--"name": "spark_master",-->
<!--"image": "bigboards/spark-armv7l",-->
<!--"command": "/opt/spark/bin/spark-class org.apache.spark.deploy.master.Master &#45;&#45;port 7077 &#45;&#45;webui-port 8080 -h {{ hex.name }}-n1.hex",-->
<!--"ports": [-->
<!--7077-->
<!--,-->
<!--8080-->
<!--],-->
<!--"config": {-->
<!--"host_path": "all",-->
<!--"container_path": "/opt/spark/conf"-->
<!--}-->
<!--}-->
<!--,-->
<!--{-->
<!--"name": "spark_worker",-->
<!--"image": "bigboards/spark-armv7l",-->
<!--"command": "/opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://{{ hex.name }}-n1.hex:7077 -d /data",-->
<!--"ports": [-->
<!--7078-->
<!--,-->
<!--8081-->
<!--],-->
<!--"config": {-->
<!--"host_path": "all",-->
<!--"container_path": "/opt/spark/conf"-->
<!--}-->
<!--}-->
<!--],-->
<!--"groups": [-->
<!--{-->
<!--"name": "spark_master",-->
<!--"runs_on": "n1",-->
<!--"containers": [-->
<!--"spark_master"-->
<!--]-->
<!--}-->
<!--,-->
<!--{-->
<!--"name": "spark_worker",-->
<!--"runs_on": "all:!n1",-->
<!--"containers": [-->
<!--"spark_worker"-->
<!--]-->
<!--}-->
<!--]-->
<!--}-->