#sidebar-left {
	top: 64px;
}

#sidebar-left .profile {
	height: 60px;
	width: 100%;
	background-color: #008888;
}

#sidebar-left .profile .profile-footer {

}

a.menu-item, a.menu-item:hover, a.menu-item:visited {
	text-decoration: none;
}

.menu-item {
	cursor: pointer;
	color: #515151;
	font-weight: 300;
}

.menu-item:hover {
	background-color: #f1f1f1;
}

.library-item {
	border: solid 1px rgba(0,0,0,0.18);
}

.library-item img {
	max-width: 100%;
	max-height: 100%;
}

.library-item .overlay {
	display: none;
	background-color: #008888;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	color: white;
	font-size: small;
	padding: 5px;
	cursor: pointer;
}

.library-item:hover .overlay {
	display: block;
}

.library-detail-tile {
	border: solid 1px rgba(0,0,0,0.18);
}

.login-pane {
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
}

.bb-list md-input-container {
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}