<div class="list-card md-whiteframe-z1" layout="column" layout-padding layout-align="center start" ng-click="vm.onClick($event)">
    <div class="list-card-avatar" layout="column" layout-align="center center" flex>
        <img class="list-card-image" ng-src="{{ vm.img }}" alt="{{ vm.title }}" />
    </div>

    <div class="list-card-content" layout="column">
        <span class="list-card-title">{{ vm.title }}</span>
        <span class="list-card-subtitle">{{ vm.subtitle }}</span>
    </div>

    <div class="lock lnr lnr-lock" ng-if="vm.locked"></div>
    <div class="remove lnr lnr-trash md-warn" ng-if="vm.removable" ng-click="vm.onRemove()"></div>
</div>