<md-input-container layout="row" ng-if="vm.editable" class="md-block">
    <label>{{ vm.label }}</label>
    <md-autocomplete
            md-no-cache="true"
            md-selected-item="vm.selected"
            md-search-text="vm.searchText"
            md-items="item in vm.query()"
            md-item-text="item.data.name"
            md-min-length="3"
            placeholder="User Name">
        <md-item-template>
            <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.data.name}}</span>
        </md-item-template>
        <md-not-found>
            No Users matching "{{vm.searchText}}" were found.
        </md-not-found>
    </md-autocomplete>
    <div class="hint" ng-if="vm.hint && vm.showHints">{{ vm.hint }}</div>
</md-input-container>
<div layout="row" ng-if="! vm.editable">
    <span class="md-body-2" style="max-width: 200px; font-weight: 600;" flex>{{ vm.label }}</span>
    <span class="md-body-1" flex>{{ vm.data }}</span>
</div>