<div layout="row" class="md-whiteframe-z4 p-15" >
    <div layout="column" style="width: 200px;" class="m-r-15">
        <div layout="column" layout-align="begin center">
            <img class="md-card-image" gravatar-src="session.user.email" gravatar-size="200">
            <h3>{{ person.firstname }} {{ person.surname}}</h3>
            <p>{{ person.bio }}</p>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button>Contact {{ person.firstname }}</md-button>
            </div>
        </div>
    </div>
    <div class="row m-r-15" layout="column" flex>
        <h4 class="md-flex">Tints</h4>
        <md-content>
            <md-list>
                <md-list-item ng-repeat="tint in tints">

                </md-list-item>
            </md-list>
        </md-content>
    </div>
    <div class="row" layout="column" flex>
        <h4 class="md-flex">Groups</h4>
        <md-content>
            <md-list>
                <md-list-item ng-repeat="tint in tints">

                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>