<div class="bb-page-avatar" layout="column" layout-align="center center" flex>
    <img ng-src="{{vm.technology.data.logo}}" alt="{{vm.technology.data.name}}" />
</div>

<md-input-container layout="row" style="width: 100%;">
    <label>name</label>
    <input type="text" ng-model="vm.technology.data.name" ng-change="vm.saveField('name')" ng-model-options="{ debounce: 1000 }" flex>
</md-input-container>
<md-input-container class="m-r-15" flex>
    <md-radio-group ng-model="vm.technology.data.scope" ng-model-options="{ debounce: 1000 }" ng-change="vm.saveField('scope')" >
        <md-radio-button value="public" class="md-primary">Public</md-radio-button>
        <md-radio-button value="private"> Private </md-radio-button>
    </md-radio-group>
</md-input-container>
<md-input-container layout="row" style="width: 100%;">
    <label>logo</label>
    <input type="text" ng-model="vm.technology.data.logo" ng-change="vm.saveField('logo')" ng-model-options="{ debounce: 1000 }" flex>
</md-input-container>
<md-input-container layout="row" style="width: 100%;">
    <label>Description</label>
    <textarea ng-model="vm.technology.data.description" ng-change="vm.saveField('description')" ng-model-options="{ debounce: 1000 }"></textarea>
</md-input-container>

<md-button class="md-warn" ng-click="vm.remove($event)">
    Remove Technology
</md-button>