<div class="bb-profile" layout="column">
    <div flex layout="row" layout-align="start center">
        <div class="m-l-10" style="background-color: white; width: 64px; height:  64px; border-radius: 999px; border: solid 1px #dedede; background-size: contain;" layout="column" layout-align="center center" ng-style="{'background-image':'url(' + auth.profile.picture + ')'}">
        </div>
        <p flex class="m-l-20 m-r-10" style="color: white; font-size: x-large;">{{auth.profile.name}}</p>
    </div>
</div>
<md-list>
    <md-list-item class="bb-menu-item" ng-click="goto('/')">
        <md-icon md-svg-icon="/content/icons/linear/0001-home.svg"></md-icon>
        <p> Home </p>
    </md-list-item>
    <md-list-item class="bb-menu-item" ng-click="goto('/library')">
        <md-icon md-svg-icon="/content/icons/linear/0052-drop.svg"></md-icon>
        <p> Library </p>
    </md-list-item>
    <md-list-item class="bb-menu-item" ng-click="goto('/settings')">
        <md-icon md-svg-icon="/content/icons/linear/0115-cog.svg"></md-icon>
        <p> Settings </p>
    </md-list-item>
    <md-list-item class="bb-menu-item" ng-click="logout()">
        <md-icon md-svg-icon="/content/icons/linear/0212-exit.svg"></md-icon>
        <p> Logout </p>
    </md-list-item>
</md-list>