<md-list>
    <md-list-item class="bb-menu-item" ng-click="goto('/')">
        <md-icon md-svg-icon="/content/icons/linear/0001-home.svg"></md-icon>
        <p>Home</p>
    </md-list-item>
    <md-list-item class="bb-menu-item" ng-click="goto('/library')">
        <md-icon md-svg-icon="/content/icons/linear/0052-drop.svg"></md-icon>
        <p> Library </p>
    </md-list-item>

    <md-list-item class="bb-menu-item" ng-click="goto('/login')">
        <md-icon md-svg-icon="/content/icons/linear/0111-key.svg"></md-icon>
        <p> Login </p>
    </md-list-item>
</md-list>