<div class="bb-profile" layout="column">
    <div flex>

    </div>
    <div layout="row" layout-align="center center" class="selector">
        <p>Please <a href="/#/login">login</a></p>
    </div>
</div>
<md-list>
    <md-list-item class="bb-menu-item" ng-click="goto('/')">
        <md-icon md-font-icon="lnr-home" class="lnr"></md-icon>
        <p>Home</p>
    </md-list-item>
    <md-list-item class="bb-menu-item" ng-click="goto('/library')">
        <md-icon md-font-icon="lnr-drop" class="lnr"></md-icon>
        <p> Library </p>
    </md-list-item>
</md-list>