<div class="bb-profile" layout="column">
    <div flex layout="row" layout-align="start center">
        <div class="m-l-10" style="background-color: white; width: 64px; height:  64px; border-radius: 999px; border: solid 1px #dedede" layout="column" layout-align="center center">
            <md-icon md-font-icon="lnr-user" class="lnr" style="font-size: 24px;"></md-icon>
        </div>
        <p flex class="m-l-20 m-r-10" style="color: white; font-size: x-large;">{{session.user.firstname}} {{session.user.surname}}</p>
    </div>
</div>
<md-list>
    <md-list-item class="bb-menu-item" ng-click="goto('/')">
        <md-icon md-svg-icon="/content/icons/linear/0001-home.svg"></md-icon>
        <p> Home </p>
    </md-list-item>
    <md-list-item class="bb-menu-item" ng-click="goto('/library')">
        <md-icon md-svg-icon="/content/icons/linear/0052-drop.svg"></md-icon>
        <p> Library </p>
    </md-list-item>
    <md-list-item class="bb-menu-item" ng-click="goto('/settings')">
        <md-icon md-svg-icon="/content/icons/linear/0115-cog.svg"></md-icon>
        <p> Settings </p>
    </md-list-item>
    <md-list-item class="bb-menu-item" ng-click="goto('/logout')">
        <md-icon md-svg-icon="/content/icons/linear/0212-exit.svg"></md-icon>
        <p> Logout </p>
    </md-list-item>
</md-list>