<!--<md-button class="md-icon-button" aria-label="Home" ng-click="goto('/')">-->
    <!--<md-icon md-font-icon="lnr-home" class="lnr icon icon-2x"></md-icon>-->
<!--</md-button>-->
<md-button class="md-icon-button" aria-label="Library" ng-click="goto('/library')">
    <md-icon md-font-icon="lnr-drop" class="lnr icon icon-2x"></md-icon>
    <md-tooltip>Library</md-tooltip>
</md-button>

<md-button class="md-icon-button" aria-label="Clusters" ng-click="goto('/clusters')">
    <md-icon md-font-icon="lnr-icons2" class="lnr icon icon-2x"></md-icon>
    <md-tooltip>Clusters</md-tooltip>
</md-button>

<md-menu md-position-mode="target-right target" md-offset="0 80" >
    <div class="m-l-10" style="width: 32px; height: 32px; border-radius: 999px; background-size: contain;" layout="column" layout-align="center center" ng-style="{'background-image':'url(' + auth.profile.picture + ')'}" ng-click="$mdOpenMenu($event)"></div>
    <md-menu-content width="4">
        <div class="bb-profile" layout="row" layout-align="center center">
            <span flex></span>
            <p class="m-0 m-r-10" style="color: white; font-size: large;">{{auth.profile.name}}</p>
        </div>
        <p class="m-10" style="font-size: small; text-align: center">Short-id: <b>{{auth.profile.short_id}}</b></p>
        <md-menu-item>
            <md-button ng-click="logout()">
                <div layout="row">
                    <p flex>Logout</p>
                    <md-icon md-menu-align-target md-font-icon="lnr-exit" class="lnr icon icon-2x" style="margin: auto 3px auto 0;"></md-icon>
                </div>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>