<!--<md-button class="md-icon-button" aria-label="Home" ng-click="goto('/')">-->
    <!--<md-icon md-font-icon="lnr-home" class="lnr icon icon-2x"></md-icon>-->
<!--</md-button>-->
<md-button class="md-icon-button" aria-label="Library" ng-click="goto('/library')">
    <md-icon md-font-icon="lnr-drop" class="lnr icon icon-2x"></md-icon>
</md-button>
<md-button class="md-icon-button" aria-label="Log out" ng-click="login()">
    <md-icon md-font-icon="lnr-key" class="lnr icon icon-2x"></md-icon>
</md-button>